* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#context {
    font-size: 38px;
    width: 36%;
    height: 10%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 224%;
    letter-spacing: 40px;
    /*background: red;*/
}

#container {
    width: 500px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: aqua;*/
}

.login_admin {
    font-size: 18px;
    width: 20%;
    height: 14%;
    position: absolute;
    right: -136%;
    top: -100%;
    /*background: red;*/
}

#box {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: aquamarine;*/
}

#namediv #name {
    font-size: 18px;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 5%;
    /*background: antiquewhite;*/
}

#namediv #nameinput {
    font-size: 16px;
    width: 220px;
    height: 28px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 4%;
    right: 15%;
    /*background: blue;*/
}

#passwddiv #passwd {
    font-size: 18px;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 26%;
    left: 5%;
    /*background: antiquewhite;*/
}

#passwddiv #passwdinput {
    font-size: 16px;
    width: 220px;
    height: 28px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 26%;
    right: 15%;
    /*background: blue;*/
}

#box #logindiv .login {
    font-size: 18px;
    width: 84px;
    height: 38px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 16%;
    bottom: 30%;
}

#box #logindiv .register {
    font-size: 18px;
    width: 84px;
    height: 38px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 16%;
    bottom: 30%;
}